<div class="container">
  <div class="breadcrumbs">
    <div class="breadscrubs-main">
      <ol class="breadcrumb">
        <li><a><%= render_breadcrumbs%></a></li>
        <li class="active"> ><%=@product.title%></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-3 product_photo">
      <%= image_tag('s-1.jpg', class: 'product-img') %>
    </div>
    <div class="col-6 product_description">
      <div class="product_title">
        <h2>Hello from <%= @product.id%>, <%= @product.title%></h2>
      </div>
      <div class="product-prices">
        <span class="price"> <%= @product.price%></span>
        <span class="old-price"> <%= @product.old_price%></span>
      </div>
      <div class="product_overview">
        <p><%= @product.content%>
        </div>
      </div>
      <div class="col-3 product_filter">
      </div>
    </div>
  </div>
  <% if recent_products.any?%>
    <h3> Recently products: </h3>
    <div class="row hits justify-content-center">
      <% recent_products.each do |recent|%>
        <div class="card md-3" style="width: 16rem;">
          <%= link_to '', product_path(recent), class: 'product-link'%>
          <%= image_tag("#{recent.img}", class: "card-img", alt: "#{recent.title}")%>
          <div class="card-body">
            <h5 class="card-title"><%=recent.title%></h5>
            <p class="card-text">EXPLORE NOW</p>
          </div>
          <ul class="prices d-flex">
            <li class="list-group-item">
              <a href="#" class="card-link"><%= image_tag 'cart-2.png', class: 'card-cart-img'%></a>
            </li>
            <li class="list-group-item price">$ <%= recent.price%></li>
            <li class="list-group-item old_price">$ <%= recent.old_price%></li>
          </ul>
        </div>
      <%end%>
    <%end%>
  </div>
  <% if @product.related.any?%>
    <h3> Related products: </h3>
    <div class="row hits justify-content-center">
      <%@product.related.each do |related|%>
        <div class="card md-3" style="width: 16rem;">
          <%= link_to '', product_path(related), class: 'product-link'%>
          <%= image_tag("#{related.img}", class: "card-img", alt: "#{related.title}")%>
          <div class="card-body">
            <h5 class="card-title"><%=related.title%></h5>
            <p class="card-text">EXPLORE NOW</p>
          </div>
          <ul class="prices d-flex">
            <li class="list-group-item">
              <a href="#" class="card-link"><%= image_tag 'cart-2.png', class: 'card-cart-img'%></a>
            </li>
            <li class="list-group-item price">$ <%= related.price%></li>
            <li class="list-group-item old_price">$ <%= related.old_price%></li>
          </ul>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
