<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex">
          <%= link_to  "Home", root_path, class: 'nav-link search-link' %>
          <% Category.roots.each do |category|%>
            <%= link_to  category.title, category_path(category), class: 'nav-link search-link' %>
            <% if category.children.present?%>
              <% render 'includes/menu/menu', category: category %>
            <%end%>
        <%end%>
      </li>
    </ul>
    <%= form_with url: search_path, method: :get, class: 'd-flex search-form' do |f|%>
    <%= f.text_field :search, class: "form-control me-4", placeholder: "Search..."%>
     <%= f.submit "", class: "search-btn" %>
     <%end%>
  </div>
</div>
</nav>
