<nav class="navbar navbar-expand-lg bg-body-tertiary top-header">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DOLLAR
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">EURO</a></li>
            <li><a class="dropdown-item" href="#">RUB</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Русский</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <% if user_signed_in?%>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email%>
            </a>
          <%else%>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Log in
            </a>
          <%end%>
          <ul class="dropdown-menu">
            <% if user_signed_in?%>
              <% if current_user.try(:admin)%>
                <li><%= link_to  'administrator',  '#', class: 'dropdown-item', style: 'color: red' %></li>
                <li><%= link_to  'API',  '#', class: 'dropdown-item', style: 'color: blue' %></li>
              <%end%>
              <li><%= link_to  'Edit profile',  edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to  'Exit',  destroy_user_session_path, class: 'dropdown-item' %></li>
              <%else%>
             <li><%= link_to  'Log in',  new_user_session_path, class: 'dropdown-item' %></li>
             <li><%= link_to  'Sign up',  new_user_registration_path, class: 'dropdown-item' %></li>
            </ul>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
