<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags title: @page_title, description: @page_description, keywords: @page_keywords %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render 'includes/main/top_header' %>
    <div class="container">
      <div class="logo">
        <%= link_to root_path do %>
          <h1> Luxury watches </h1>
        <%end%>
      </div>
      <%= render 'includes/main/bottom_header' %>
      <%= render 'includes/main/notifications' %>
      <%= yield %>
      <%= render 'includes/main/footer' %>

    </div>
  </body>
</html>
